@import "../../assets/styles/variables";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sections {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  font-size: 15px;

  img {
    max-width: 80px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
  }

  @media (min-width: $md) {
    padding: 5px 0px;
    font-size: 18px;
  }

  @media (min-width: $lg) {
    font-size: 25px;
    padding: 10px 0px;
  }
}
