@import "./variables";

.card {
  min-width: 340px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px 10px;
  margin-top: 20px;
  background-color: white;

  @media (min-width: $md) {
    min-width: 600px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .title {
    font-size: $font-size-lg;
    font-weight: 700;
    max-width: 250px;
  }

  .subtitle {
    font-size: 17px;
  }
}

button {
  background-color: $color-primary;
  color: $color-white;
  height: 50px;
  border: 0px solid;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: $font-size-lg;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
}

.center-row {
  display: flex;
  justify-content: center;
}

.vertical-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

.errored {
  border-color: red;
}

html {
  background-color: $color-secondary;
  overflow-x: hidden;
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $color-secondary;
}

::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 50px;
}
