@import "../../assets/styles/variables";

.paginator-container {
  margin-top: 20px;
  margin-bottom: 10px;
  .prev,
  .next {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .next {
    margin-left: 20px;
  }

  .disabled {
    pointer-events: none;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
